
# BEGIN WordPress
# Директивы (строки) между `BEGIN WordPress` и `END WordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

RedirectMatch 404 package.json
RedirectMatch 404 package-lock.json
RedirectMatch 404 composer.json
RedirectMatch 404 composer.lock
RedirectMatch 404 gulpfile.js
RedirectMatch 404 license.txt
RedirectMatch 404 node_modules
RedirectMatch 404 /\.
RedirectMatch 404 /libs